<?xml version="1.0"?>
<robot name="fanuc_lrmate200id_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find fanuc_lrmate200id_gazebo)/urdf/lrmate200id_macro.xacro"/>
  <xacro:fanuc_lrmate200id_robot prefix=""/>

  <!-- Fix robot to Gazebo world -->
  <link name="world"/>
  <joint name="world-base_link-fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
