<?xml version="1.0"?>
<launch>
  <!-- load the joint state controller -->
  <rosparam file="$(find fanuc_lrmate200id_gazebo)/config/joint_state_controller.yaml" command="load" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" />

  <!-- load the arm controller -->
  <rosparam file="$(find fanuc_lrmate200id_gazebo)/config/lrmate200id_arm_controller.yaml" command="load" />
  <node name="lrmate200id_gazebo_controller_spawner" pkg="controller_manager" type="spawner"
        args="arm_controller" />
</launch>