<?xml version="1.0"?>
<robot name="fanuc_lrmate200id7l" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find fanuc_lrmate200id_support)/urdf/lrmate200id7l_macro.xacro"/>
  <xacro:fanuc_lrmate200id7l prefix=""/>
       <!-- Part 6 Gripper Base Joint -->
<joint name="camera_joint" type="fixed">
    <parent link="link_4" />
    <child link="camera_link" />
    <origin rpy="-0.0 1.50293 -0.06822"
     xyz="0.32704 0.02164 -0.07475" />
    <axis xyz="0 0 0" />
</joint>
<link name="camera_link"/>
</robot>

